@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-300-Light.ttf") format("truetype"),
    url("../fonts/Jost-300-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-400-Book.ttf") format("truetype"),
    url("../fonts/Jost-400-Book.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-400-BookItalic.ttf") format("truetype"),
    url("../fonts/Jost-400-BookItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-500-Medium.ttf") format("truetype"),
    url("../fonts/Jost-500-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-600-Semi.ttf") format("truetype"),
    url("../fonts/Jost-600-Semi.otf") format("opentype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-800-Hevy.ttf") format("truetype"),
    url("../fonts/Jost-800-Hevy.otf") format("opentype");
  font-weight: 800;
  font-style: normal;
}
